@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/




.articles:hover{
    transform: scale(1.05);
    
}
.articles-2:hover{
    transform: scale(1.05);
}

.articles, .articles-2{
    transition: all 0.5s;
}


body {
    font-family: "roboto";
    background-color: #ebebeb;
    margin: 0%;

}

/*------------------------------header------------------*/

header {
    background-color: #EAC926;
    box-sizing: content-box;
    padding: 0px 10px 5px;

}

.burger-menu {
    font-size: 25px;
    color: white;
    background-color: #1259c3;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin: auto;
}

.nav-list {
    list-style-type: none;
    padding: 0px;
}

nav {
    display: none;
}

.burger-menu i {
    padding-top: 11px;
}

.header-title {
    text-align: center;
    margin: 16px auto;



}

.logo {
    width: 50%;
    padding: 10px;
    margin-top: 10px;

}

.search-bar {
    margin-top: 10px;
    width: 50%;
  

}



.flexconteiner1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar input {
    width: 70%;
    height: 35px;
    font-family: "roboto";
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: none;
    padding: 10px;
}

.search-bar i {
    background-color: #FFF;
    padding: 2px 1px;
    border-radius: 2px;
}

.search-bar button{
    background-color: #FFF;
    color: #666;
    height: 25px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid rgb(189, 189, 189) 1px ;
    padding-left: 5px;
    position: relative;
    cursor: pointer;
    left: -35px;
    
}

.nav-list li a {
    color: black;
    text-decoration: none;

}

/*---------------------------main-------------------------------------*/

main {
    margin: auto;
    margin-bottom: 7 0px;
    width: 90%;
   

}

.prices {
    font-size: 18px;
    width: 30%;
    margin: 0px 8px 0px 0px;

}

.headlines {
    font-size: 24px;
    color: #666;
    
}

.description {
    font-size: 16px;
    color: #666;
    display: none;
}

.offers {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    margin: 0px;



}

.img-box {
    border: 1px #ebebeb solid;
    background-color: white;
    position: relative;
}



.articles h4,
.articles-2 h4 {
    margin-bottom: 0px;
 
}

main section{
    display: flex;
    flex-wrap: wrap;
}

.articles , .articles-2 {
    margin-bottom: 10px;
    width: 100%;

}

.price-offer-description-box {

    padding: 15px;
    background-color: white;
    border: 1px #ebebeb solid;
}

.img-box i {
    border: 1px #39b54a solid;
    color: #39b54a;
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    display: block;
    position: absolute;
    right: 8%;
    top: 95%;
}

.img-box i:hover{
    transform: rotate(-90deg);
}

.img-box i{
    transition: transform 0.5s;
}

.flex-price-offer {
    display: flex;
    align-items: center;

}
/*----------------------------register styles-----------------------*/

.form-register{
    margin: 40px auto;
    width: 90%;
    
  
}


.form_personal-data input{
    display: block;
    margin: 25px 0px;
    width: 90%;
    height: 35px;
    font-family: "roboto";
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border: #1259c3 solid 1px;
    border-style: none;
    padding: 10px;

}

.form_profileType  label{
    display: block;
    margin: 25px 0px;
}
.form_radio-buttons{
    display: flex;
}
.form_radio-buttons label{
    margin: 12px 20px 12px 0px;
}

.form_password-buttons input{
    display: block;
    margin: 25px 0px;
    width: 65%;
    height: 35px;
    font-family: "roboto";
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: none;
    border: #1259c3 solid 1px;
    padding: 10px;
}

.form_titles-labels{
    font-weight: bold;
    margin: 25px 0px;
    
}

.form_personal-data, .form_profileType{
    border-bottom: #666 1px solid;
}

.form_password-buttons{
    margin-top: 25px;
}

#registrarse-text{
    color: #666;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    text-align: center;
    border-bottom: #666 1px solid;
}

.form_buttons button{
    color: #ebebeb;
    background-color: #1259c3;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-weight: 400;
    box-shadow:  0px 0px 5px rgb(100, 100, 100);
    border-radius: 5px;
    cursor: pointer;
}
.form_buttons{
    text-align: center;
   
}



    



/*----------------------------login styles---------------------*/

.form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_login input{
    margin: 25px;
    display: block;
    width: 65%;
    height: 35px;
    font-family: "roboto";
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: none;
    padding: 10px;
}

.form_login a{
    width: 100%;
    text-align: center;
}

.form_login button{
    margin: 25px;
    width: 65%;
    color: #ebebeb;
    background-color: #1259c3;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    box-shadow:  0px 0px 5px rgb(100, 100, 100);
    border-radius: 5px;
    cursor: pointer;
}



/*----------------------------footer-----------------*/
footer{
    margin-top: 70px;
    padding-top: 40px;
    background-color: #FFF;
    margin-bottom: 0px;
    
}
.footer-icon {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-section {
    text-align: center;
    margin: 0% 10%;


}

.footer-section h4 {
    margin: 0px;
    color: #666;


}

.footer-text {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: #666;
}

#copyright-text {
    margin: 0px;
    font-size: 12px;
    margin-left: 8px;
    padding-bottom: 20px;
    color: #666;
}






/*-------------------------------media--------------------------------*/

@media (min-width: 361px) {

    .articles,
    .articles-2 {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


}

@media (min-width: 768px) {
    .description {
        display: block;
    }

    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .header-title {
        text-align: right;
        margin: 16px 0px;
        max-width: 33.3%;
    }


    .search-bar {
        margin-top: 0px;
        width: 33.3%;
        
    }


    .search-bar input{
        width: 85%;
    }

    .logo {
        margin-top: 0px;
        width: 33.3%;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
    }

    .nav-list li {
        margin: 0px 4px;
    }

 


    .articles , .articles-2 {
        width: 40%;
        margin: 0% 5% 10px 5%;
    }

    .headlines{
        margin-left: 5% 
    }
}

@media (min-width: 1024px){

    .articles , .articles-2 {
        width: 23%;
        margin: 0% 1% 10px 1%;
        
    }

    .headlines{
        margin-left: 0% 
    }

    .prices{
        margin: 0px 30px 0px 0px;
    }

    .form-register{
        display: flex;
        align-items: baseline;
    }
    .form_personal-data input{
        width: 90%;

    }
    .form_password-buttons input{
        width: 95%;
    }

    .form_personal-data, .form_profileType, .form_password-buttons {
        margin: 20px;
        width: 33.3%;
        border-bottom: none;
    }

    .form-register{
        margin: auto;
    }
    .form_buttons{
        text-align: inherit;
    }
}


